

@media (min-width: 1200px) { }
@media (max-width: 480px) { }

@font-face {
  font-family: "Futura BT";
  src: url('../app/font/futurab.ttf');
}
@font-face {
  font-family: "Futura BT Light";
  src: url('../app/font/futural.ttf');
}
@font-face {
  font-family: "Garamond Italic";
  src: url('../app/font/garait.ttf');
}

.snackfont {
  font-family: "Futura BT", Verdana, Tahoma;
}
body {
  font-family: "Futura BT", Verdana, Tahoma;
  background-image:url('../app/img/sprinkles_nodrop_30.png');
  background-color: #FFFFFF;
  background-repeat: repeat;
  min-height: 480px;
  overflow: hidden;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}
#worddef {
    display: none;
}

.bubble {
    max-width:25%;
    min-height: 10%;
    display: block;
    position: fixed;
    text-align: center;
}
/*
table, td {
    border: 1px solid black;
}
*/
.tagline {
    vertical-align:middle;
    font-family: "Garamond Italic", Verdana, Tahoma;
    padding-top: 15%;
    font-size:20px;
    opacity: .4;
    letter-spacing: 5px;
}
table#header {
    max-width: 950px; /* or 950px */
    min-width: 360px;
    width:100%;
    margin-top:50px;
}

#header img {
    display: block;
    text-align: center;
    height: 100%;
    padding-left: 10%;
}
#tagleft {
    padding-left: 10px;
    text-align:right;
    padding-right: 10px;
}
#tagright {
    padding-left: 10px;
    text-align:left;
    padding-right: 10px;
}
p#productname {
    font-family: "Futura BT Light", Verdana, Tahoma;
    letter-spacing: 4px;
    opacity: .75;
    font-size:18px;
    color:black;
    text-align:center;
    vertical-align:middle;
    padding-left: 3%;
}
#pickone {
    margin-top: 145px;
    padding-bottom:145px;
    display: block;
}
p.choice {
    color: white;
    font-size: 28px;
    /*height: inherit;*/
    display: block;
    margin-top: 5%;;
    vertical-align: middle;
    padding-top: 30%;
}
p.choice:hover {
    color: rgb( 35, 242, 250 );
}
.read {
    left: 15%;
}
.write {
    left: 40%;
}
.snack {
    left: 65%;
}
.pushme {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: rgb( 35, 242, 250 );
    top: 45%;
    vertical-align:middle;
}
.pushme:hover {
    background-color: rgb( 255, 248, 175);
}

.shadow {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: rgb( 108, 203, 252 );
    top: 47%;
}
.shadow:hover {
    visibility: hidden;
}



