@font-face {
  font-family: "Futura BT";
  src: url('../app/font/futurab.ttf');
}
@font-face {
  font-family: "Futura BT Light";
  src: url('../app/font/futural.ttf');
}
@font-face {
  font-family: "Garamond Italic";
  src: url('../app/font/garait.ttf');
}

.snackfont {
  font-family: "Futura BT", Verdana, Tahoma;
}
@media only screen and (min-width: 60em) { 
    body { 
        font-family: "Futura BT", Verdana, Tahoma;
        background-image:url('../app/img/candycane.png'), url('../app/img/angelcake.png');
        background-position: left, left top;
        background-color: rgba(255,255,255,0.5);
        background-repeat: repeat-y, repeat;
        background-size:contain;
    }
}
@media only screen and (max-width: 60em) {
    body {
      font-family: "Futura BT", Verdana, Tahoma;
      background-image:url('../app/img/angelcake.png');
      background-color: rgba(255,255,255,0.5);
      background-repeat: repeat;
      background-size:contain;
      min-height: 480px;
      overflow: hidden;
    }
}

#header {
  position: relative;
  display: block;
  margin-bottom: 0px;
  margin-top: 50px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}
#worddef {
    display: none;
}

/*
table, td {
    border: 1px solid black;
}
*/
.tagline {
    vertical-align:middle;
    font-family: "Garamond Italic", Verdana, Tahoma;
    padding-top: 15%;
    font-size:24px;
    opacity: .25;
    letter-spacing: 10px;
    display: inline;
}
p#tagleft {
    background-color:#FFFFFF;
    padding-right: 3%;

}
p#tagright{
    background-color:#FFFFFF;
    padding-left: 3%;

}

.brand {
    vertical-align:middle;
    font-family: "Futura BT Light", Verdana, Tahoma;
    letter-spacing: 10px;
    opacity: .75;
    color:black;
    text-align:center;
    padding-left: 3%;
    padding-top: 3%;
    font-size:28px;
    background-color: rgba(255,255,255, 1);
}
.logoline {
    background-color: rgba(255,255,255, 1);
    text-align: center;
}
#logo {
    display: inline;
}
img { -ms-interpolation-mode: bicubic; }
#tinylogo {
    vertical-align:middle;
    text-align: center;
    display: inline;
}
#pickone {
    margin-top: 145px;
    padding-bottom:145px;
    display: block;
}
.bubble {
  max-width:100%;
  max-height: 80%;
  display: block;
  position: fixed;
  text-align: center;
}

p.choice {
    color: white;
    font-size: 28px;
    /*height: inherit;*/
    display: block;
    margin-top: 5%;
    vertical-align: middle;
    padding-top: 30%;
    padding-bottom: 30%;
}
p.choice:hover {
    color: rgb( 35, 242, 250 );
    text-decoration:none;
}
.read {
    left: 15%;
}
.write {
    left: 40%;
}
.snack {
    left: 65%;
}
.pushme {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: rgb( 35, 242, 250 );
    top: 45%;
    vertical-align:middle;
}
.pushme:hover {
    background-color: rgb( 255, 248, 175);
    text-decoration:none;
}

.shadow {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: rgb( 108, 203, 252 );
    top: 47%;
}
.shadow:hover {
    visibility: hidden;
}
